<%- include ('custheader') %>

<div class="content">
    <section class="down">
      <div class="row justify-content-center">
        <div class="col-md-6 matter1">
            <h1 class="text-center">View Orders</h1>
            <br />
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto sed deserunt vitae iusto a cupiditate explicabo ad
              perspiciatis minima doloribus quam, eos facilis fuga, sapiente
              eligendi dignissimos delectus! Est, autem? 
            </p>
            <div class="d-flex flex-coloumn">
              <button type="button" class="btn btn-outline-dark" onclick="window.location.href ='/orders';">View</button>
            </div>
        </div>
        <div class="col-md-6 matter">
          <h1 class="text-center">View Appointments</h1>
          <br />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Architecto sed deserunt vitae iusto a cupiditate explicabo ad
            perspiciatis minima doloribus quam, eos facilis fuga, sapiente
          </p>
          <button type="button" class="btn btn-outline-dark" onclick="window.location.href ='/appointments';">View</button>
        </div>
      </div>
    </section>
    <section class="up">
      <div class="row justify-content-center">
        <div class="col-md-6 matter order-2 order-md-1">
          <h1 class="text-center">Manage Inventory</h1>
          <br />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Architecto sed deserunt vitae iusto a cupiditate explicabo ad
            perspiciatis minima doloribus quam, eos facilis fuga, sapiente
            eligendi dignissimos delectus! Est, autem? 
          </p>
          <button type="button" class="btn btn-outline-dark" onclick="window.location.href ='/inventory';">View</button>
        </div>
        <div class="col-md-6 matter1 order-1 order-md-2">
            <h1 class="text-center">Manage Services</h1>
            <br />
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto sed deserunt vitae iusto a cupiditate explicabo ad
              perspiciatis minima doloribus quam, eos facilis fuga, sapiente
              eligendi dignissimos delectus! Est, autem? 
            </p>
            <button type="button" class="btn btn-outline-dark" onclick="window.location.href ='/manageService';">View</button>
        </div>
        <div class="col-md-6 matter1 order-1 order-md-2">
          <h1 class="text-center">Block List</h1>
          <br />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Architecto sed deserunt vitae iusto a cupiditate explicabo ad
            perspiciatis minima doloribus quam, eos facilis fuga, sapiente
            eligendi dignissimos delectus! Est, autem? 
          </p>
          <button type="button" class="btn btn-outline-dark" onclick="window.location.href ='/blocklist';">View</button>
          <button type="button" class="btn btn-outline-dark" onclick="window.location.href ='/block';">Add</button>
      </div>
      </div>
    </section>
</div>

<%- include ('footer') %>