<%- include ('custheader') %>

    <div class="formdiv">
        <form action="/blocknum" method="post">
            <lable>Mobile Number</lable>
            <input type="text" name="mnum"><br><br>
            <lable>Reason</lable>
            <input type="text" name="reason"><br><br>    
            <button type="submit" class="btn btn-outline-dark">Block!!</button>
        </form>
    </div>

<%- include ('footer') %>