<%- include ('custheader') %>

<script>

$(document).ready(function(){
  $("button").css("transform","translateY(0)");
  $("button").css("background-color","grey");
  $("button").css("color","black");

  $(".btn-pending").css("transform","translateY(5px)");
  $(".btn-pending").css("background-color","black");
  $(".btn-pending").css("color","white");

  document.getElementById("dynamicTable").innerHTML = "";
  var tables;
  $.post("/pending",function(res){
    tables = res;
    const tbl = document.createElement("table");
    tbl.classList.add("table");
    tbl.classList.add("table-hover");
    tbl.classList.add("table-striped");

    const tblHead = document.createElement("thead");

    const headRow = document.createElement("tr");
    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("#");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Name");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Mobile");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Product");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Quantity");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("Amount");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("Delivery Date");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Action");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    tblHead.appendChild(headRow);
    tbl.appendChild(tblHead )

    const tblBody = document.createElement("tbody");
    
    // creating all cells
    for (let i = 0; i < tables.length; i++) {
      // creates a table row
      const row = document.createElement("tr");
      row.setAttribute('row_id',tables[i].orderId);

      var cell = document.createElement("th");
      cell.setAttribute('scope','row');
      var cellText = document.createTextNode(i+1);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].customerName);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].mobNumber);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].product);
      cell.appendChild(cellText);
      row.appendChild(cell);
      
      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].qty);
      cell.appendChild(cellText);
      row.appendChild(cell);
      
      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].amount);
      cell.appendChild(cellText);
      row.appendChild(cell);
      
      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].deliveryDate);
      cell.appendChild(cellText);
      row.appendChild(cell);
      

      const td = document.createElement("td");
      //const acceptSpan = '<span class="btn_accept" > <a href="#" class="btn btn-link "  > Accept</a> |</span>              '
      const rejectSpan = '<span class="btn_reject"> <a href="#" class="btn btn-link" > Reject</a> </span>'
      const okSpan = '<span class="btn_ok" > <a href="#" class="btn btn-link "  > Okk!! </a> | </span>'
      const waitSpan = '<span> Waiting for Deal !! </span>'
  
      if(tables[i].amount==null || tables[i].deliveryDate==null){
        td.innerHTML =  td.innerHTML + waitSpan;
      }else{
        td.innerHTML =  td.innerHTML + okSpan;
      }
      td.innerHTML =  td.innerHTML +rejectSpan;
      row.appendChild(td);
      // add the row to the end of the table body
      tblBody.appendChild(row);
    
    }

    // put the <tbody> in the <table>
    tbl.appendChild(tblBody);
    // appends <table> into <body>
    $(".apptable").append(tbl);

    $("tr").addClass("text-center");

  $(document).on('click', '.btn_reject', function(event) 
	{
		event.preventDefault();
		var tbl_row = $(this).closest('tr');
    tbl_row.hide();
		var row_id = tbl_row.attr('row_id');

    $.post('/tempcancelOrder',{orderId:row_id},function(res){
      if(res=='done'){
        alert("Order Declined!!11");
      }
      else{
        alert("Error!!");
      }
    })
	});

  $(document).on('click', '.btn_ok', function(event) 
	{
		event.preventDefault();
		var tbl_row = $(this).closest('tr');
    tbl_row.hide();
		var row_id = tbl_row.attr('row_id');

    $.post('/tempapproveOrder',{orderId:row_id},function(res){
      if(res=='done'){
        alert("Deal Finalised!!");
      }
      else{
        alert("Error!!");
      }
    })
	});

  })

})


$(document).on('click', '.btn-pending', function(event) 
{
  event.preventDefault();

  $("button").css("transform","translateY(0)");
  $("button").css("background-color","grey");
  $("button").css("color","black");

  $(".btn-pending").css("transform","translateY(5px)");
  $(".btn-pending").css("background-color","black");
  $(".btn-pending").css("color","white");

  document.getElementById("dynamicTable").innerHTML = "";
  var tables;
  $.post("/pending",function(res){
    tables = res;
    const tbl = document.createElement("table");
    tbl.classList.add("table");
    tbl.classList.add("table-hover");
    tbl.classList.add("table-striped");

    const tblHead = document.createElement("thead");

    const headRow = document.createElement("tr");
    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("#");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Name");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Mobile");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Product");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Quantity");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("Amount");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("Delivery Date");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Action");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    tblHead.appendChild(headRow);
    tbl.appendChild(tblHead )

    const tblBody = document.createElement("tbody");
    
    // creating all cells
    for (let i = 0; i < tables.length; i++) {
      // creates a table row
      const row = document.createElement("tr");
      row.setAttribute('row_id',tables[i].orderId);

      var cell = document.createElement("th");
      cell.setAttribute('scope','row');
      var cellText = document.createTextNode(i+1);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].customerName);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].mobNumber);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].product);
      cell.appendChild(cellText);
      row.appendChild(cell);
      
      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].qty);
      cell.appendChild(cellText);
      row.appendChild(cell);
      
      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].amount);
      cell.appendChild(cellText);
      row.appendChild(cell);
      
      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].deliveryDate);
      cell.appendChild(cellText);
      row.appendChild(cell);
      

      const td = document.createElement("td");
      //const acceptSpan = '<span class="btn_accept" > <a href="#" class="btn btn-link "  > Accept</a> |</span>              '
      const rejectSpan = '<span class="btn_reject"> <a href="#" class="btn btn-link" > Reject</a> </span>'
      const okSpan = '<span class="btn_ok" > <a href="#" class="btn btn-link "  > Okk!! </a> | </span>'
      const waitSpan = '<span> Waiting for Deal !! </span>'
  
      if(tables[i].amount==null || tables[i].deliveryDate==null){
        td.innerHTML =  td.innerHTML + waitSpan;
      }else{
        td.innerHTML =  td.innerHTML + okSpan;
      }
      td.innerHTML =  td.innerHTML +rejectSpan;
      row.appendChild(td);
      // add the row to the end of the table body
      tblBody.appendChild(row);
    
    }

    // put the <tbody> in the <table>
    tbl.appendChild(tblBody);
    // appends <table> into <body>
    $(".apptable").append(tbl);

    $("tr").addClass("text-center");

  $(document).on('click', '.btn_reject', function(event) 
	{
		event.preventDefault();
		var tbl_row = $(this).closest('tr');
    tbl_row.hide();
		var row_id = tbl_row.attr('row_id');

    $.post('/tempcancelOrder',{orderId:row_id},function(res){
      if(res=='done'){
        alert("Order Declined!!11");
      }
      else{
        alert("Error!!");
      }
    })
	});

  $(document).on('click', '.btn_ok', function(event) 
	{
		event.preventDefault();
		var tbl_row = $(this).closest('tr');
    tbl_row.hide();
		var row_id = tbl_row.attr('row_id');

    $.post('/tempapproveOrder',{orderId:row_id},function(res){
      if(res=='done'){
        alert("Deal Finalised!!");
      }
      else{
        alert("Error!!");
      }
    })
	});

  })
});


$(document).on('click', '.btn-approved', function(event) 
{
  event.preventDefault();

  $("button").css("transform","translateY(0)");
  $("button").css("background-color","grey");
  $("button").css("color","black");

  $(".btn-approved").css("transform","translateY(5px)");
  $(".btn-approved").css("background-color","black");
  $(".btn-approved").css("color","white");

  document.getElementById("dynamicTable").innerHTML = "";
  var tables;
  $.post("/approved",function(res){
    tables = res;
    const tbl = document.createElement("table");
    tbl.classList.add("table");
    tbl.classList.add("table-hover");
    tbl.classList.add("table-striped");

    const tblHead = document.createElement("thead");

    const headRow = document.createElement("tr");
    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("#");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Name");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Mobile");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Product");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Quantity");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("Amount");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("Delivery Date");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    tblHead.appendChild(headRow);
    tbl.appendChild(tblHead )

    const tblBody = document.createElement("tbody");
    
    // creating all cells
    for (let i = 0; i < tables.length; i++) {
      // creates a table row
      const row = document.createElement("tr");
      row.setAttribute('row_id',tables[i].orderId);

      var cell = document.createElement("th");
      cell.setAttribute('scope','row');
      var cellText = document.createTextNode(i+1);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].customerName);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].mobNumber);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].product);
      cell.appendChild(cellText);
      row.appendChild(cell);
      
      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].qty);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].amount);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].deliveryDate);
      cell.appendChild(cellText);
      row.appendChild(cell);

      // add the row to the end of the table body
      tblBody.appendChild(row);
    
    }

    // put the <tbody> in the <table>
    tbl.appendChild(tblBody);
    // appends <table> into <body>
    $(".apptable").append(tbl);

    $("tr").addClass("text-center");
  })
});

$(document).on('click', '.btn-declined', function(event) 
{
  event.preventDefault();

  $("button").css("transform","translateY(0)");
  $("button").css("background-color","grey");
  $("button").css("color","black");

  $(".btn-declined").css("transform","translateY(5px)");
  $(".btn-declined").css("background-color","black");
  $(".btn-declined").css("color","white");

  document.getElementById("dynamicTable").innerHTML = "";
  var tables;
  $.post("/declined",function(res){
    tables = res;
    const tbl = document.createElement("table");
    tbl.classList.add("table");
    tbl.classList.add("table-hover");
    tbl.classList.add("table-striped");

    const tblHead = document.createElement("thead");

    const headRow = document.createElement("tr");
    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("#");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Name");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Mobile");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Product");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Quantity");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("Amount");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("Delivery Date");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    tblHead.appendChild(headRow);
    tbl.appendChild(tblHead )

    const tblBody = document.createElement("tbody");
    
    // creating all cells
    for (let i = 0; i < tables.length; i++) {
      // creates a table row
      const row = document.createElement("tr");
      row.setAttribute('row_id',tables[i].orderId);

      var cell = document.createElement("th");
      cell.setAttribute('scope','row');
      var cellText = document.createTextNode(i+1);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].customerName);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].mobNumber);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].product);
      cell.appendChild(cellText);
      row.appendChild(cell);
      
      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].qty);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].amount);
      cell.appendChild(cellText);
      row.appendChild(cell);
      
      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].deliveryDate);
      cell.appendChild(cellText);
      row.appendChild(cell);
    
      // add the row to the end of the table body
      tblBody.appendChild(row);
    
    }

    // put the <tbody> in the <table>
    tbl.appendChild(tblBody);
    // appends <table> into <body>
    $(".apptable").append(tbl);

    $("tr").addClass("text-center");

  })
});


$(document).on('click', '.btn-completed', function(event) 
{
  event.preventDefault();

  $("button").css("transform","translateY(0)");
  $("button").css("background-color","grey");
  $("button").css("color","black");

  $(".btn-completed").css("transform","translateY(5px)");
  $(".btn-completed").css("background-color","black");
  $(".btn-completed").css("color","white");

  document.getElementById("dynamicTable").innerHTML = "";
  var tables;
  $.post("/completed",function(res){
    tables = res;
    const tbl = document.createElement("table");
    tbl.classList.add("table");
    tbl.classList.add("table-hover");
    tbl.classList.add("table-striped");

    const tblHead = document.createElement("thead");

    const headRow = document.createElement("tr");
    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("#");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Name");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Mobile");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Product");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    var cellText = document.createTextNode("Quantity");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("Amount");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    var cell = document.createElement("th");
    cell.setAttribute('scope','col');
    var cellText = document.createTextNode("Delivery Date");
    cell.appendChild(cellText);
    headRow.appendChild(cell);

    tblHead.appendChild(headRow);
    tbl.appendChild(tblHead )

    const tblBody = document.createElement("tbody");
    
    // creating all cells
    for (let i = 0; i < tables.length; i++) {
      // creates a table row
      const row = document.createElement("tr");
      row.setAttribute('row_id',tables[i].orderId);

      var cell = document.createElement("th");
      cell.setAttribute('scope','row');
      var cellText = document.createTextNode(i+1);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].customerName);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].mobNumber);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].product);
      cell.appendChild(cellText);
      row.appendChild(cell);
      
      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].qty);
      cell.appendChild(cellText);
      row.appendChild(cell);

      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].amount);
      cell.appendChild(cellText);
      row.appendChild(cell);
      
      cell = document.createElement("td");
      cellText = document.createTextNode(tables[i].deliveryDate);
      cell.appendChild(cellText);
      row.appendChild(cell);
    
      // add the row to the end of the table body
      tblBody.appendChild(row);
    
    }

    // put the <tbody> in the <table>
    tbl.appendChild(tblBody);
    // appends <table> into <body>
    $(".apptable").append(tbl);

    $("tr").addClass("text-center");

  })
});



</script>

<div class="btndiv" style="width: 400px; ">
  <button type="button" class="btn btn-outline-dark btn-pending">Pending</button>
  <button type="button" class="btn btn-outline-dark btn-approved">Approved</button>
  <button type="button" class="btn btn-outline-dark btn-declined" >Declined</button>
  <button type="button" class="btn btn-outline-dark btn-completed" >Completed</button>
  </div>
  <div class="apptable" id="dynamicTable">
    
  </div>

<%- include ('footer') %>