<%- include ('custheader') %>
<div class="content">
    <section class="down">
      <div class="row justify-content-center">
        <div class="col-md-6 matter1">
            <h1 class="text-center">Order Products</h1>
            <br />
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto sed deserunt vitae iusto a cupiditate explicabo ad
              perspiciatis minima doloribus quam, eos facilis fuga, sapiente
              eligendi dignissimos delectus! Est, autem? 
            </p>
            <button type="button" class="btn btn-outline-dark" onclick="window.location.href ='/placeorder';">Order</button>
        </div>
        <div class="col-md-6 matter">
          <h1 class="text-center">Book Appointment</h1>
          <br />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Architecto sed deserunt vitae iusto a cupiditate explicabo ad
            perspiciatis minima doloribus quam, eos facilis fuga, sapiente
          </p>
          <button type="button" class="btn btn-outline-dark" onclick="window.location.href ='/bookapp';">Book</button>
        </div>
      </div>
    </section>
    <section class="up">
      <div class="row justify-content-center">
        <div class="col-md-6 matter order-2 order-md-1">
          <h1 class="text-center">View Orders</h1>
          <br />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Architecto sed deserunt vitae iusto a cupiditate explicabo ad
            perspiciatis minima doloribus quam, eos facilis fuga, sapiente
            eligendi dignissimos delectus! Est, autem? 
          </p>
          <button type="button" class="btn btn-outline-dark" onclick="window.location.href ='/custorders';">View</button>
        </div>
        <div class="col-md-6 matter1 order-1 order-md-2">
            <h1 class="text-center">View Appointments</h1>
            <br />
            <p class="text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Architecto sed deserunt vitae iusto a cupiditate explicabo ad
              perspiciatis minima doloribus quam, eos facilis fuga, sapiente
              eligendi dignissimos delectus! Est, autem? 
            </p>
            <button type="button" class="btn btn-outline-dark" onclick="window.location.href ='/custApp';">View</button>
        </div>
      </div>
    </section>
  </div>
  <%- include ('footer') %>