<%- include ('header') %>
<div class="content">
  <section class="uphead">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center head">
        <h1>LNMIIT<br />ka<br />Salōn</h1>
        <div class="buttons">
          <button
            type="button"
            class="btn btn-outline-dark"
            onclick="window.location.href ='/login';"
          >
            LogIn
          </button>
        </div>
      </div>
      <div class="col-md-6 image" id="mainImage">
        <img id="one" src="img/bg14.png" alt="" />
      </div>
    </div>
  </section>
  <section class="down">
    <div class="row justify-content-center">
      <div class="col-md-6 image">
        <img id="two" src="img/p1.jpg" alt="" />
      </div>
      <div class="col-md-6 matter">
        <h1 class="text-center">Book Appointment</h1>
        <br />
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
          sed deserunt vitae iusto a cupiditate explicabo ad perspiciatis minima
          doloribus quam, eos facilis fuga, sapiente
        </p>
        <button
          type="button"
          class="btn btn-outline-dark"
          onclick="window.location.href ='/login';"
        >
          Book
        </button>
      </div>
    </div>
  </section>
  <section class="up">
    <div class="row justify-content-center">
      <div class="col-md-6 matter order-2 order-md-1">
        <h1 class="text-center">Order Products</h1>
        <br />
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
          sed deserunt vitae iusto a cupiditate explicabo ad perspiciatis minima
          doloribus quam, eos facilis fuga, sapiente eligendi dignissimos
          delectus! Est, autem? Esse nam dicta accusantium harum aut ad
          inventore pariatur illum praesentium vero adipisci, consequuntur a
          temporibus mollitia deserunt consectetur voluptatum laudantium velit
          excepturi. Cupiditate officia nostrum assumenda libero expedita
          laborum.
        </p>
        <button
          type="button"
          class="btn btn-outline-dark"
          onclick="window.location.href ='/login';"
        >
          Order
        </button>
      </div>
      <div class="col-md-6 image order-1 order-md-2">
        <img id="two" src="img/p1.jpg" alt="" />
      </div>
    </div>
  </section>
  <section class="down">
    <div class="row justify-content-center">
      <div class="col-md-6 image">
        <img id="two" src="img/p1.jpg" alt="" />
      </div>
      <div class="col-md-6 matter">
        <h1 class="text-center">Our Services</h1>
        <br />
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
          sed deserunt vitae iusto a cupiditate explicabo ad perspiciatis minima
          doloribus quam, eos facilis fuga, sapiente eligendi dignissimos
          delectus! Est, autem? Esse nam dicta accusantium harum aut ad
          inventore pariatur illum praesentium vero adipisci, consequuntur a
          temporibus mollitia deserunt consectetur voluptatum laudantium velit
          excepturi. Cupiditate officia nostrum assumenda libero expedita
          laborum.
        </p>
      </div>
    </div>
  </section>
</div>
<%- include ('footer') %>
