<%- include ('newheader') %>

<section id="service">
    <div class="title-text">
        <p>OPTIONS</p>
        <h1>Manage Better</h1>
    </div>
    <div class="service-box">
        <div class="single-service">
            <img src="Barber_Shop_img/pic-3.jpg">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>View Orders</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                <hr>
                <button type="button" class="btn btn-light" onclick="window.location.href ='/orders';">View</button>
            </div>
        </div>
        <div class="single-service">
            <img src="Barber_Shop_img/pic-4.jpg">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>View Appointments</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                <hr>
                <button type="button" class="btn btn-light" onclick="window.location.href ='/appointments';">View</button>
            </div>
        </div>
        <div class="single-service">
            <img src="Barber_Shop_img/pic-1.jpg">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>Manage Services</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                <hr>
                <button type="button" class="btn btn-light" onclick="window.location.href ='/manageService';">View</button>  
            </div>
        </div>
        <div class="single-service">
            <img src="Barber_Shop_img/pic-2.jpg">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>Inventory</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                <hr>
                <button type="button" class="btn btn-light" onclick="window.location.href ='/inventory';">View</button>
            </div>
        </div>
        <div class="single-service">
            <img src="Barber_Shop_img/pic-2.jpg">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>BlcokList</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                <hr>
                <button type="button" class="btn btn-light" onclick="window.location.href ='/blocklist';">View</button>
          <button type="button" class="btn btn-light" onclick="window.location.href ='/block';">Add</button>
            </div>
        </div>
    </div>
</section>



<%- include ('newfooter') %>