<%- include ('newheader') %>

<section id="service">
    <div class="title-text">
        <p>SERVICES</p>
        <h1>We Provide Better</h1>
    </div>
    <div class="service-box">
        <div class="single-service">
            <img src="Barber_Shop_img/pic-1.jpg">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>Order</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                <hr>
                <button type="button" class="btn btn-light" onclick="window.location.href ='/placeorder';">Order</button>
            </div>
        </div>
        <div class="single-service">
            <img src="Barber_Shop_img/pic-2.jpg">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>Appointment</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                <hr>
                <button type="button" class="btn btn-light" onclick="window.location.href ='/bookapp';">Book</button>
            </div>
        </div>
        <div class="single-service">
            <img src="Barber_Shop_img/pic-3.jpg">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>View Orders</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                <hr>
                <button type="button" class="btn btn-light" onclick="window.location.href ='/custorders';">View</button>
            </div>
        </div>
        <div class="single-service">
            <img src="Barber_Shop_img/pic-4.jpg">
            <div class="overlay"></div>
            <div class="service-desc">
                <h3>View Appointments</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                <hr>
                <button type="button" class="btn btn-light" onclick="window.location.href ='/custApp';">View</button>
            </div>
        </div>
    </div>
</section>



<%- include ('newfooter') %>